---
import Layout from '../layouts/Layout.astro'
import graphqlFetch from '../graphql-fetch'
import Headshot from '../components/Headshot.astro'
import TransitionWords from '../components/transition-words/TransitionWords.astro'
import homeQuery from '../queries/homeQuery'
import { absoluteUrl } from '../browser-utilities'
import WhatIDoSection from '../components/WhatIDoSection.astro'
import UnderlineHeading from '../components/UnderlineHeading.astro'
import Skill from '../components/Skill.astro'

const response = await graphqlFetch(homeQuery, 'Home')
const { Headshots: headshots, UserInfo: userInfo, Home: home, Nav: nav } = (await response.json()).data
const headshotAlt = headshots.docs[0].alt
const headshotSizes = {
  mobile: {
    jpgUrl: headshots.docs[0].sizes.mobile.url,
    webpUrl: headshots.docs[0].sizes.mobileWebp.url,
    avifUrl: headshots.docs[0].sizes.mobileAvif.url,
    jpg1_5xUrl: headshots.docs[0].sizes.mobile1_5x.url,
    webp1_5xUrl: headshots.docs[0].sizes.mobileWebp1_5x.url,
    avif1_5xUrl: headshots.docs[0].sizes.mobileAvif1_5x.url,
    jpg2xUrl: headshots.docs[0].sizes.mobile2x.url,
    webp2xUrl: headshots.docs[0].sizes.mobileWebp2x.url,
    avif2xUrl: headshots.docs[0].sizes.mobileAvif2x.url,
    jpg3xUrl: headshots.docs[0].sizes.mobile3x.url,
    webp3xUrl: headshots.docs[0].sizes.mobileWebp3x.url,
    avif3xUrl: headshots.docs[0].sizes.mobileAvif3x.url,
    jpg4xUrl: headshots.docs[0].sizes.mobile4x.url,
    webp4xUrl: headshots.docs[0].sizes.mobileWebp4x.url,
    avif4xUrl: headshots.docs[0].sizes.mobileAvif4x.url
  }
}
const titles = userInfo.titles.map(({ title }) => title)
---

<Layout
  title={`About Me | ${userInfo.fullName}`}
  fullName={userInfo.fullName}
  socials={userInfo.socials}
  navLinks={nav.links}
>
  <section class='text-white text-center md:flex md:text-left md:items-center md:justify-center'>
    <div class='flex justify-center md:ml-8'>
      <Headshot
        id='homepage-headshot'
        class='mt-8 md:mt-12'
        sizes={headshotSizes}
        alt={headshotAlt}
        loading='eager'
        fetchpriority='high'
      />
    </div>
    <div class='mx-4 md:ml-8 lg:ml-12 md:max-w-md'>
      <TransitionWords class='mt-4 text-sm text-gray-300' as='h4' words={titles}/>
      <h1 class='font-bold text-4xl mt-1'>
        {userInfo.fullName}
      </h1>
      <p class='text-left mt-6 hyphens-auto break-words mx-auto'>
        {userInfo.description}
      </p>
      <div class='flex flex-col items-center mt-6 md:flex-row'>
        <button type='button' class:list={[
          'rounded-full px-6 py-2 shadow-lg bg-secondary',
          'hover:bg-secondary-dark'
        ]}>
          Download Resume
        </button>
        <a href={absoluteUrl('/contact', Astro.site)}
          class='mt-2 text-gray-300 rounded-full border border-gray-300 px-6 py-2 md:ml-2 md:mt-0 hover:bg-gray-900'>
          Contact
        </a>
      </div>
    </div>
  </section>
  <section class='text-white mt-16'>
    <UnderlineHeading as='h2' class='capitalize text-2xl'>
      {home.whatIDo.title}
    </UnderlineHeading>
    <div class='flex flex-wrap justify-start'>
      {home.whatIDo.sections.map((section, i) => (
        <WhatIDoSection section={section} class:list={[
          'md:w-1/2 md:mt-6',
          {
            'mt-4': i === 0,
            'mt-6': i !== 0,
            'md:pl-8': i % 2 !== 0
          }
        ]}/>
      ))}
    </div>
  </section>
  <section class='text-white mt-16'>
    <UnderlineHeading as='h2' class='capitalize text-2xl'>
      {home.skills.title}
    </UnderlineHeading>
    <div class='flex flex-wrap justify-start'>
      {home.skills.skills.map((skill) => (
        <Skill skill={skill} class='mt-8 w-full sm:w-1/2 sm:p-4 lg:w-1/3 sm:mt-4'/>
      ))}
    </div>

  </section>
</Layout>

<style>

</style>
