---
import { absoluteUrl } from '../browserUtilities'
interface Props {
  email: string
  initialValues?: FormData
  submitError?: boolean
}
const { email, initialValues, submitError = false } = Astro.props<Props>
const labelClass = 'w-full mt-2 block text-gray-300'
const inputClass = 'w-full border-2 border-gray-400 text-gray-300 rounded bg-transparent p-2'

const formData = initialValues ?? new FormData()
const initialName = formData.get('name')
const initialEmail = formData.get('email')
const initialSubject = formData.get('subject')
const initialMessage = formData.get('message')
const contactFormId = 'contact-form'
---

<form id={contactFormId} class='mt-8 text-white' method='POST'
  action={absoluteUrl('/contact/', Astro.site)} data-js-contact-form>
  <noscript>
    <strong class='text-white break-words italic'>I try my best to deliver a progressive website that supports
      users who have JavaScript disabled, it is not always possible. This contact form relies on
      <a class='text-link' href='https://www.google.com/recaptcha/about/'>google reCAPTCHA</a>
      to keep it secure and reCAPTCHA relies on JavaScript to run. If you are unable to enable JavaScript then I
      suggest you email me directly at <a class='text-link' href={`mailto:${email}`}>{email}</a>
    </strong>
  </noscript>
  <div class='mt-8 flex flex-wrap md:flex-row justify-between'>
    <div class='basis-full md:basis-4/12'>
      <label class={labelClass}>
        Name
        <input class={inputClass} name='name' type='text' value={initialName} required/>
      </label>
      <label class={labelClass}>
        Email
        <input class={inputClass} name='email' type='email' value={initialEmail} required/>
      </label>
      <label class={labelClass}>
        Subject
        <input class={inputClass} name='subject' type='text' value={initialSubject} required/>
      </label>
    </div>
    <label class='basis-full text-gray-300 mt-4 md:pl-8 md:basis-8/12 md:mt-0'>
      Message
      <textarea class:list={[inputClass, 'h-20 md:h-32']} name='message' required>{initialMessage}</textarea>
    </label>
  </div>
  <div class='flex flex-col justify-center items-center mt-6 sm:flex-row sm:justify-between'>
    <div>
      <div
        class='g-recaptcha'
        data-sitekey={import.meta.env.PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY}
        data-action='contact'
        data-theme='dark'
        data-callback='itmayziiiRecaptchaCallback'
        data-expired-callback='itmayziiiRecaptchaExpiredCallback'
      ></div>
    </div>
    <button class:list={[
      'rounded-full px-6 py-2 shadow-lg bg-secondary mt-6 hover:bg-secondary-dark'
    ]} type='submit'>Send Message
    </button>
  </div>
</form>

<script define:vars={{ contactFormId, submitError }}>
  if (submitError) {
    window.alert('There was an issue submitting your contact information.')
  }

  let recaptchaFilled = false
  window.itmayziiiRecaptchaCallback = () => {
    recaptchaFilled = true
  }
  window.itmayziiiRecaptchaExpiredCallback = () => {
    recaptchaFilled = false
  }

  const contactForm = document.forms[contactFormId]
  if (!contactForm) {
    throw new Error(`Unable to find contact form by ID ${contactFormId}`)
  }

  contactForm.addEventListener('submit', function onContactSubmit (event) {
    event.preventDefault()
    if (recaptchaFilled) {
      event.currentTarget.submit()
      return
    }

    window.alert('reCAPTCHA is required')
  })
</script>
